@model MVC_Blog_Toanhq.Models.BlogDto
@{
    ViewData["Title"] = "Create";
}

@using (Html.BeginForm("Create", "Blog", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="col m-3 p-0 bg-light rounded-1">
        <div class="card">
            <div class="card-header text-start">
                <h2>Create</h2>
            </div>
            <div class="card-body">
                <div class="row ">
                    <div class="col-md-4 w-100">
                        <form asp-action="Create">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group">
                                <label asp-for="Title" class="control-label"></label>
                                <input asp-for="Title" class="form-control" />
                                <span asp-validation-for="Title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Description" class="control-label"></label>
                                <input asp-for="Description" class="form-control" />
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Detail" class="control-label"></label>
                                <input asp-for="Detail" class="form-control" />
                                <span asp-validation-for="Detail" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Position" class="control-label"></label>
                                @for (int i = 0; i < Model.PositionList.Count; i++)
                                {
                                    <div class="form-check form-check-inline">
                                        @Html.HiddenFor(m => m.PositionList[i].Value)
                                        @Html.CheckBoxFor(m => m.PositionList[i].Selected, new { @class = "form-check-input" })
                                        <label class="form-check-label mr-3">@Model.PositionList[i].Value</label>
                                    </div>

                                }
                                <span asp-validation-for="Position" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Public" class="control-label"></label>
                                <div>
                                    Yes: @Html.RadioButtonFor(m => m.Public,"Yes", new { @class = "form-control"})
                                    No: @Html.RadioButtonFor(m => m.Public,"No", new { @class = "form-control"})
                                </div>
                                <span asp-validation-for="Public" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Category" class="control-label"></label>
                                <label for="category">Loại:</label>
                                @Html.DropDownListFor(Model => Model.Category,
                            @Model.CategoryList,
                            new { @class = "form-control", @id = "category" })
                                @Html.ValidationMessageFor(m => m.Category, "", new { @class = "text-danger" })

                                <span asp-validation-for="Category" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PublicDate" class="control-label"></label>
                                <input asp-for="PublicDate" class="form-control" />
                                <span asp-validation-for="PublicDate" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Create" class="btn btn-primary" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
